<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Edit Employee</title></head>
<body>
<h2>Edit Employee</h2>
<form th:action="@{/employees/update/{id}(id=${employee.id})}" th:object="${employee}" method="post">
    <h3>Employee</h3>
    Name: <input type="text" th:field="*{name}"/><br/>
    Type: <input type="text" th:field="*{type}"/><br/>
    Salary: <input type="number" step="0.01" th:field="*{salary}"/><br/>

    <h3>Address</h3>
    Street: <input type="text" th:field="*{address.street}"/><br/>
    City: <input type="text" th:field="*{address.city}"/><br/>
    State: <input type="text" th:field="*{address.state}"/><br/>
    Zip: <input type="text" th:field="*{address.zipCode}"/><br/>

    <h3>Department</h3>
    Department Name: <input type="text" th:field="*{department.deptName}"/><br/><br/>

    <button type="submit">Update</button>
</form>
<a href="/employees">Back</a>
</body>
</html>
